{% extends "layout.html" %} 
{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/agregar_espacios" method="POST">
          <div>
            <label>Lote</label>
          </div>
          <div class="form-group">
            <input type="text" name="lote_id"
            placeholder="lote_id" class="form-control">
          </div>
          <div>
            <label> Tipo</label>
          </div>
          <div class="form-group">
            <input type="text" name="tipo" placeholder="tipo"
            class="form-control">
          </div>
          <div>
            <label> Disponible</label>
          </div>
          <div class="form-group">
            <input type="text" name="Disponible" placeholder="Disponible"
            class="form-control">
          </div>
          <div>
            <label> Costo</label>
          </div>
          <div class="form-group">
            <input type="text" name="Costo_hora" placeholder="Costohora"
            class="form-control">
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
