{% extends "layout.html" %} 
{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update_historico/{{historico["historico_id"]}}" method="POST">    
          <div>
            <label> Historico</label>
          </div>
          <div class="form-group">
            <input type="text" name="historico_id" value="{{historico["historico_id"]}}" class="form-control">
          </div>
          <div>
            <label> Fecha Entrada</label>
          </div>
          <div class="form-group">
            <input type="text" name="fecha_entrada" value="{{historico["fecha_entrada"]}}"
            class="form-control">
          </div>
          <div>
            <label> Fecha  Salida</label>
          </div>
          <div class="form-group">
            <input type="text" name="fecha_salida" value="{{historico["fecha_salida"]}}" class="form-control">
          </div>
          <div>
            <label> Espacio id</label>
            <div class="form-group">
                <input type="text" name="espacio_id" value="{{historico["espacio_id"]}}" class="form-control">
              </div>
          </div>
          <div>
            <label> Pagado</label>
            <div class="form-group">
                <input type="text" name="pagado" value="{{historico["pagado"]}}" class="form-control">
              </div>
          </div>
          <div>
            <label> Placa</label>
            <div class="form-group">
                <input type="text" name="placa" value="{{historico["placa"]}}" class="form-control">
              </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
