{% extends "layout.html" %} {% block body %}

 <header>
    
    <section class="textos-header">
      <h1>La mejor experiencia</h1>
      <h2>para la gestión de tu estacionamiento </h2>
  </section>
  
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
          style="height: 100%; width: 100%;">
          <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
              style="stroke: none; fill: #fff"></path>
      </svg></div>
    
    
 </header>
 <main>
  <section class="Targetas">
    <div class="title-cards">
      <h2>Servicios</h2>
    </div>
  <div class="container-card">
    
  <div class="card">
    <figure>
      <img src="/static/images/clientetarjeta.jpg">
    </figure>
    <div class="contenido-card">
      <h3>Clientes</h3>
      <a href="/clientes">Click aqui</a>
    </div>
  </div>
  <div class="card">
    <figure>
      <img src="/static/images/vehiculostarjetas.jpg">
    </figure>
    <div class="contenido-card">
      <h3>Vehiculos</h3>
      <a href="/vehiculos">Click aqui</a>
    </div>
  </div>
  <div class="card">
    <figure>
      <img src="/static/images/parqueostarjeta.webp">
    </figure>
    <div class="contenido-card">
      <h3>Parqueos</h3>
      <a href="/loteparqueo">Click aqui</a>
    </div>
  </div>

  </section>

  <section class="tarjetas2">
  <div class="container-card2">

    <div class="card">
      <figure>
        <img src="/static/images/espaciostarjeta.webp">
      </figure>
      <div class="contenido-card">
        <h3>Espacios</h3>
        <a href="/espacios">Click aqui</a>
      </div>
    </div>
    <div class="card">
      <figure>
        <img src="/static/images/historicostarjetas.webp">
      </figure>
      <div class="contenido-card">
        <h3>Historicos</h3>
        <a href="/historicos">Click aqui</a>
      </div>
    </div>
  </div>

  </section>
  
  </div>

  </section>
 </main>



{% endblock %}
