{% extends "layout.html" %} 
{% block body %}
<div class="container">
<div class="row">
   <div class="col-sm-10">
  <h1>Lote Parqueo</h1>
  <br><br><br>
   
        <!--<a href="/nuevo_cliente" class="btn btn-success btn-sm">Agregar Cliente</a>-->
      <a href="/new_loteparqueos" class="btn btn-success btn-sm">Agregar Loteparqueo</a>
        <br><br>
    <div class="col-md-5">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>

<div class="col-xl">
  <table class= "table"
  >
    <thead class="thead-light">
      <tr>
        
        <td>Lote</td>
        <td>Nombre</td>
        <td>Localizacion</td>
        <td>Capacidad</td>
      </tr>
    </thead>
    <tbody>
      {% for item in loteparque %}
      <tr>
        <td>{{item["lote_id"]}}</td>
        <td>{{item["nombre"]}}</td>
        <td>{{item["localizacion"]}}</td>
        <td>{{item["capacidad_total"]}}</td>

        <td>
          <div class="btn-group" role="group">
              <a href="/editar_loteparq/{{item["lote_id"]}}"  class="btn btn-warning btn-sm">Editar</a>
              <a href="/eliminar_loteparqueo/{{item["lote_id"]}}" class="btn btn-delete btn-danger btn-sm">Eliminar</a>
          </div>
            </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
{% endblock %}